.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -50px;
}

.welcome-sign {
  margin-top: -50px;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgba(135, 78, 8, 0.5);
  padding: 20px;

  border-radius: 15px;
}

#wbird{
  width: 100px;
}


.button-container {
  margin-top: 20px;
}

#Nav_link {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#start{
  display: flex;
  align-items: center;
  justify-content: center;
}

#F_Link {

  color: #D2B48C;
  width: 300px;
  height: 50px;
  background-color: #874e08;
}

#P_Link:hover {
  background-color: #c88b5f;
}

#namaa{
color: #cf9957;
font-family:'consolas';
}
#aa {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
  background-color: #e8a350;
  cursor: pointer;
  border: 2px solid #874e08;
}

#aa:hover {
  background-color:#c88b5f ;
}



#aa p {
  margin: 0;
  color: #874e08;
}

  