.kalimantan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  background: rgba(101, 67, 33, 0.6);
  margin-top: 0px;
  width: 100%;
  margin: 0 auto;
}

.pahlawan-card {
  margin-bottom: 30px;
}

.pahlawan-card img {
  width: 320px;
  height: 160px;
  object-fit: cover;
}

.kalimantan-container h2 {
  font-family: 'Typewriter', monospace;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #D2B48C;
  padding: 10px;
  margin: 15px;
}

.kalimantan-container p {
  font-family: 'Typewriter', monospace;
  font-size: 16px;
  
  padding: 10px;
  margin: 15px;
}

#gblk {
  width:  200px;
  height: 300px;
  
}

.kalimantan-container img:hover {
  opacity: 1;
}

#atas{
    width: 50%;
    margin-bottom: 100px;
    opacity: 80%;
}

#isi_card p{
    text-align: justify;
}

h1{
    color:#2e1c05;
    font-family: comic sans ms;
}

#gblk{
  border:5px solid #D2B48C;
  border-radius: 15px;
}

#gblk {
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  transition-delay: 0.5s; /* Delay the hover effect for 3 seconds */
}

#gblk:hover {
  width: 400px;
  height: 600px;
}
#isi_card{
    border: 2px solid #D2B48C;
    margin-left:100px ;
    margin-right: 100px;
    border-radius: 15px;
    color:rgb(49, 27, 6);
    background: rgba(101, 67, 33, 0.8);
}