body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  background-image: url(Images/bag.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navigation Bar */
#nav {
  display: flex;
  flex-direction: column;
}

#left img {
  width: 10vh;
}

#s1 {
  color: rgb(252, 0, 0);
  opacity: 70%;
}

#s2 {
  color: white;
}

#kanan img {
  width: 10vh;
}

#top_Nav {
  margin-left: auto;
  margin-right: auto;
  border: 0.33vh solid #8B4513;
  padding: 0.33vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(106, 58, 23, 0.9);
  border-bottom-left-radius: 1.5vh;
  border-bottom-right-radius: 1.5vh;
  border-top: 0;
  color: #c88b5f;
  font-family: comic sans ms;
  border-style: outset;
  border-left: 0.33vh inset #8B4513;
  border-bottom: 0.33vh solid #8B4513;
  width: 70vh;
}

#top2_Nav {
  margin-left: auto;
  margin-right: auto;
  border: 0.33vh solid #8B4513;
  padding: 0.33vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 1.5vh;
  border-bottom-right-radius: 1.5vh;
  border-top: 0;
  color: #c88b5f;
  font-family: comic sans ms;
  border-style: outset;
  border-left: 0.33vh inset #8B4513;
  border-bottom: 0.33vh solid #8B4513;
  text-decoration: none;
  text-transform: none;
  background-color: rgba(189, 108, 47, 0.75);
  width: 65vh;
}

#isi {
  margin-left: auto;
  margin-right: auto;
  margin-top: -1vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  border-radius: 0;
  background: rgba(101, 67, 33, 0.75);
  padding-left: 3vh;
  padding-right: 3vh;
  width: 57vh;
}

#Nav_link {
  width: 10vh;
}

#P_Link {
  font-size: 100%;
  border: 0.33vh solid;
  border-radius: 1.5vh;
  padding: 0.33vh;
  color: #D2B48C;
  width: 10vh;
  background-color: #874e08;
}

#P_Link:hover {
  background-color: #c88b5f;
}

Link {
  text-decoration: none;
}

/* Indonesia */
#map img {
  padding: 2vh;
  opacity: 40%;
  border-radius: 5.5vh;
  width: 80vh;
  height: 70vh;
}

#word1 {
  margin-left: 3vh;
  margin-right: 3vh;
  margin-left: 7vh;
  margin-right: 7vh;
}

#word1 p {
  text-align: justify;
}

/* Pancasila */
#word2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#word2 img {
  float: left;
  width: 15vh;
}

#listt {
  text-align: left;
}

#mrgn {
  padding-left: 2vh;
}
